<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_signup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='password.css') }}">
{% endblock %}
<body>
{% block content %}
    {{ super() }}
<div class="content">
    <p class="paragraph">Enter in your recovery code below:</p>
    <form action="#" method="POST">
        <div class="recovery-form">
            <label for="username">Enter your Username</label>
            <input type="text" class="input-code" id="your-username" name="your-username" placeholder="Username">
        </div>
        <div class="recovery-form">
            <label for="username">Recovery Code</label>
            <input type="text" class="input-code" id="your-code" name="your-code" placeholder="Recovery Code">
        </div>
        <div id="submit-login">
            <button class="submit-code">Submit Code</button>
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>