<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
{% endblock %}
<body>
{% block content %}
{{ super() }}
<div class="content">
    <h1 class="contact-title">Contact Me</h1>
    <br>
    <p class="paragraph">Would you like to get in touch? Great! Fill out the form
        below providing your contact information and I will definitely get back
        to you as soon as possible!
    </p>
    <form id="contact-form" action="#" method="POST">
        <div id="fname-error" class="hidden1">Please enter your first name</div>
        <div class="form-input">
            <label for="first-name">Enter your first name</label>
            <input type="text" id="first-name" name="first-name" placeholder="First Name">
        </div>

        <div id="lname-error" class="hidden2">Please enter your last name</div>
        <div class="form-input">
            <label for="last-name">Enter your last name</label>
            <input type="text" id="last-name" name="last-name" placeholder="Last Name">
        </div>

        <div id="email-error" class="hidden3">Please enter an email address</div>
        <div class="form-input">
            <label for="email">Enter your email address</label>
            <input type="email" id="email" name="email" placeholder="Your Email">
        </div>
        <div class="form-input">
            <span>Enter your Message below</span>
            <textarea id="message" name="message" class="your-message" rows="20" cols="45"></textarea>
        </div>
        <div class="form-input">
            <input type="submit" id="submit-contact" value="Submit">
        </div>
    </form>
</div>
<script src="{{ url_for( 'static', filename='validation.js' ) }}"></script>
{% endblock %}
</body>
</html>