<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}
    {% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='work.css') }}">
    {% endblock %}
</head>
<body>
{% block content %}
    {{ super() }}
    <div class="intro">
        <h1 class="title">My Projects</h1>
        <div class="statement">
            <p class="info">
                This page is dedicated to showcase the different IT projects that I have completed in my free time. Below are 
                photos and videos that demonstrate my skills and understanding of different technologies in IT. I have 
                categorized my projects into four sections: computer networking, web/full stack development, DevOps and 
                Software Defined Networking, or SDN for short. I made sure to put a lot of effort into these projects. 
                Scroll down to look at some of the various IT projects that I done!
            </p>
        </div>
    </div>
    <div class="networking">
        <h1 class="title">My Computer Network Projects</h1>
        <div class="networks">
            <figure>
                <img src="{{ url_for('static', filename='images/mywork/Tier2topology.png') }}" alt="Tier 2 topology">
                <figcaption>Tier 2 topology example</figcaption>
            </figure>
            <figure>
                <img src="{{ url_for('static', filename='images/mywork/VPNtopology.png') }}" alt="VPN topology">
                <figcaption>VPN topology example</figcaption>
            </figure>
            <figure>
                <img src="{{ url_for('static', filename='images/mywork/MiniCallCenter.png') }}" alt="Call center topology">
                <figcaption>Call center topology example</figcaption>
            </figure>
            <figure>
                <img src="{{ url_for('static', filename='images/mywork/HSRPtopology.png') }}" alt="HSRP topology">
                <figcaption>HSRP topology for redundancy</figcaption>
            </figure>
        </div>
    </div>
    <script src="{{ url_for('static', filename='mywork.js') }}"></script>
{% endblock %}
</body>
</html>