<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
{% endblock %}
<body>
{% block content %}
{{ super() }}
<div class="content">
    <h1 class="contact-title">Contact Information Submitted</h1>
    <br>
    <p class="submitted">Congrats! Your contact information has been submitted! 
        I will get your information in my email and I will make sure to reach out 
        to you no later than two business days.
    </p>
    <br>
    <p class="paragraph">You can also follow me on LinkedIn or Instagram below</p>
    <p class="paragraph">
        LinkedIn: <a target="_blank" rel="noopener noreferer" href="https://www.linkedin.com/in/ebube-aso/">
            <img src="{{url_for('static', filename='images/linkedin.jpg')}}" alt="LinkedIn">
        </a>
    </p>
    <p class="paragraph">
        Instagram: <a target="_blank" rel="noopener noreferer" href="https://www.instagram.com/aso.ebube1/">
            <img src="{{url_for('static', filename='images/instagram.jpg')}}" alt="Instagram">
        </a>
    </p>
    <p class="submitted">Take care and have a wonderful day!</p>
    <br>
    <p class="paragraph">Click the button below to return to the homepage</p>
    <button id="return-button" class="return"><a id="return-home" href="{{url_for('index')}}">Return to Homepage</a></button>
</div>
<script src="{{ url_for('static', filename='buttonColor.js') }}"></script>
{% endblock %}
</body>
</html>