nav li a:link, nav li a:visited, nav li.TableDropDown, .Option a:link, .Option a:visited {
    font-size: 20pt;
    text-decoration: none;
    color: whitesmoke;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 2px;
    margin-bottom: 4px;
    font-size: 20pt;
    cursor: pointer;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.Option {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    background-color: navy;
    width: 8%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 0;
    position: absolute;
}
.SlideUp {
    animation: slide 1s forwards;
    -webkit-animation: slide 1s forwards;
    -moz-animation:  slide 1s forwards;
}
.SlideDown {
    animation: slideOut 1s forwards;
    -webkit-animation: slideOut 1s forwards;
    -moz-animation:  slideOut 1s forwards;
}
.SlideDown a:link, .SlideDown a:visited, .None a:link, .None a:visited {
    display: none;
}
.None {
    height: 0;
    opacity: 0;
}
@keyframes slide {
    0% {height: 0; opacity: 0;}
    100% {height: 15%; opacity: 1;}
}
@-moz-keyframes slide {
    0% {height: 0; opacity: 0;}
    100% {height: 15%; opacity: 1;}
}
@-o-keyframes slide {
    0% {height: 0; opacity: 0;}
    100% {height: 15%; opacity: 1;}
}
@keyframes slideOut {
    0% {height: 15%; opacity: 1;}
    100% {height: 0; opacity: 0;}
}
@-moz-keyframes slideOut {
    0% {height: 15%; opacity: 1;}
    100% {height: 0; opacity: 0;}
}
@-o-keyframes slideOut {
    0% {height: 15%; opacity: 1;}
    100% {height: 0; opacity: 0;}
}
@media screen and (min-width: 1280px) and (max-width: 1500px) {
    .Option {
        margin-left: 12%;
    }
}