<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="test.css">
    <script type="text/javascript" src="jquery-3.5.1.js"></script>
    <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="test.js"></script>
</head>
<body>
    <h1 class="title">A webpage with CSS and JS</h1>
    <h3 class="subtitle">Here is some extra styling for practice.</h3>
    <p>I put in some CSS and some JavaScript as a way to have some cool 
        styling and effects to add in to this web page in particular. I will be
        using Node to eventually put together a <b>web application</b>, and even a 
        <span class="website">website</span> that could be run on it. To see some 
        client side JavaScript in action, click on the button below to make it larger
        then smaller.
    </p>
    <button id="the-button" class="click-me">Click to Make Me Grow!</button>
</body>
</html>