<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
        <script src="{{url_for('static', filename='jquery-3.5.1.js')}}"></script>
        <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
        <title>Salutations!</title>
    </head>
    <body>
        <header>
        <nav>
            <div id="menu">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('search')}}">Search</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>
            </div>
            <div id="menu2">
            <ul>
                <li><a href="{{url_for('register')}}">Register</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
            </div>
        </nav>
        </header>
        <div class="content">
        <script src="{{url_for('static', filename='events.js')}}"></script>
        <h1 class="title">Welcome to my API Flask application!</h1>
        <h2 id="second-header">The purpose of this web application:</h2>
        <p class="explanation">I made this application to make a website
            using Flask. This is essentially a web user interface
        </p>
        <p class="explanation">Please login <a class="quicklink" href="{{url_for('login')}}">Here</a> to be able to use this Flask application.</p>
        </div>
    </body>
</html>