<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
        <script src="{{url_for('static', filename='jquery-3.5.1.js')}}"></script>
        <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
        <title>Login Page</title>
    </head>
    <body>
        <nav>
            <div id="menu">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="search.html">Search</a></li>
                <li><a href="{{url_for('signin')}}">Login</a></li>
            </ul>
            </div>
            <div id="menu2">
            <ul>
                <li><a href="register.html">Register</a></li>
                <li><a href="logout.html">Logout</a></li>
            </ul>
            </div>
        </nav>
        <div class="content">
            <script src="{{url_for('static', filename='events.js')}}"></script>
        <h1 class="title">Please Login Below</h1>
        <form action="#" method="post">
            <div class="form-section">
                <label for="username">Username</label>
                <input type="text" class="name-input" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-section">
                <label for="password">Password</label>
                <input type="password" class="name-input" id="password" name="password" placeholder="Enter password">
            </div>
            <div id="login-button">
                <input type="submit" id="submit" value="Login">
            </div>
        </form>
        </div>
    </body>
</html>