body {
    background-color: darkcyan;
}
.title {
    font-size: 40pt;
    text-align: center;
    font-style: oblique;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}
.subtitle {
    text-decoration: underline;
    margin-left: 40px;
    font-size: 30pt;
}
p {
    margin-left: 20px;
    font-size: 18pt;
}
.title, .subtitle, p {
    color: whitesmoke;
    font-family: serif;
}
b {
    color: green;
}
.website {
    color: maroon;
    font-weight: bold;
    font-style: italic;
}
.click-me {
    margin: 10px auto;
    padding: 10px;
    font-size: 18pt;
    font-family: sans-serif;
    color: ivory;
    background-color: lawngreen;
    border: 2px solid black;
    border-radius: 10px-;
}