<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="testreact.css">
    <script type="text/javascript" src="react.production.min.js"></script>
    <script type="text/javascript" src="react-dom.production.min.js"></script>
    <script type="text/javascript" src="babel.min.js"></script>
    <script type="text/javascript" src="axios.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="home"></div>
    <script type="text/babel" src="welcome.js"></script>
</body>
</html>