nav li {
padding: 18px;
font-style: oblique;
display: inline;
}

body {
font-family: Georgia, Times, sans-serif;
background-color: steelblue;
}

a:link {
font-family: Georgia, Times, serif;
color: silver;
font-style: normal;
text-decoration: none;
}

a:visited {
color: black;
}

h1 {
font-style: oblique;
font-size: 50px;
color: red;
text-align: center;
text-shadow: 3px 4px 4px black;
text-transform: uppercase;
}

h2 {
font-size: 42px;
color: red;
margin-right: 30px;
margin: 10px;
text-shadow: 3px 4px 4px black;
}

p, li {
font-size: 26px;
padding-right: 30px;
}

video {
width: 480px;
height: auto;
padding-top: 25px; padding-right: 25px; padding-bottom: 20px; padding-left: 25px;
}

em {
font-weight: bold;
}

footer {
color: darkred;
font-style: oblique;
font-size: 22px;
}

/* Styling for the form */

#ticketForm {
  display: flex;
  flex-direction: column;
}

/* Add spacing between form elements for proximity */
#yourInfo div {
  margin-bottom: 10px;
}

/* Make sure labels are aligned to minimize eye movement */
#yourInfo label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

#yourInfo p {
  font-size: 20px;
  margin-left: 20px;
}

#yourInfo div textarea {
  margin-left: 20px;
}

#yourInfo .receiveMessages label{
  width: 30px;
}

#yourInfo button.submit {
  margin-left: 40px; /* Same as label width above */
  width: 100px;
}

#yourNameError, #yourEmailError, #yourAgeError, #messageError {
  font-weight: bold;
  font-size: 16px;
  color: darkred;
  margin-left: 30px;
}

.hidden, .hidden1, .hidden2, .hidden3{
  display: none;
}

@media screen and (max-width: 600px){
figure img, footer {
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 10px;
}

.menu1 li, .menu2 li, .menu3 li, .menu4 li, .menu5 li, .menu6 li, .menu7 li, .menu8 li {
  width: 50%;
}
}

@media screen and (min-width: 900px){

  .menu1, .menu2, .menu3, .menu4, .menu5, .menu6, .menu7, .menu8 {
    display: inline-flex;
    flex-direction: row;
    order: 1;
    text-align: center;
  }

}
