<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
    <div class="content">
    <h1 class="title">The chat room!!!</h1>
    <h2 class="subtitle">Enter in the Secret Room Code below</h2>
    <form class="room-form" action="/" method="POST">
        <div>
            <label for="room-input">Room Code</label>
            <input type="password" id="room-input" name="room-input" placeholder="Room Code" required />
            <input type="submit" id="submit" value="Enter the room!" />
        </div>
    </form>
    </div>
</body>
</html>