.JS {
    color: red;
    text-align: center;
    font-size: 38px;
    background-color: mintcream;
    border: 2px solid black;
}
/*This id JS is for the paragraph that I have written on the web
page using document.write in JavaScript*/
#JS {
    color: midnightblue;
    font-style: oblique;
    font-size: 16pt;
}
p {
    font-size: 16pt;
}
/* CSS specific to the form page*/
.form{
    display: flex;
    background-color: lightgrey;
    flex-direction: column;
    width: 450px;
    font-size: 18pt;
    padding: 15px;
    margin-left: 60px;
    border: 2px solid black;
}
label {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
#firstName, #lastName, #email {
    padding-bottom: 10px;
    font-size: 16pt;
}
#text {
    padding-top: 20px;
}
em {
    color: red;
}
#firstNameError #lastNameError #emailError {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}
.theTitle {
    font-size: 38pt;
    color: midnightblue;
    padding-left: 20px;
    margin-left: 40px;
    text-decoration: underline;
}
textarea {
    text-align: start;
    font-size: 16pt;
}
.theButton {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
}
/*this is to hide the error message if the user does not put in the correct 
data in the form. It will only be shown if there is an error*/
.hidden .hidden2 .hidden3 {
    display: none;
}
/*end of CSS specific to the form page*/

body {
    background-color: aliceblue;
}
h1 {
    outline: black;
}
button {
    background-color: antiquewhite;
    color: black;
    outline-color: black;
    padding: 10px;
    font-size: 14pt;
    margin-top: 20px;
    margin-right: 15px;
}
