.Title  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40pt;
    text-align: center;
}
.Graph-title  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28pt;
    text-align: center;
}
#root div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Click-me {
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
}
.Click-me:hover {
    cursor: pointer;
}