h1, h2, h3 {
    text-align: center;
}
h1, h2, h3, p {
    font-family: Verdana, sans-serif;
}
h1 {
    width: 0%;   
    font-size: 42pt;
}
.Subtitle {
    font-size: 20pt;
}
.Reason {
    font-size: 28pt;
    margin-left: 2vw;
}
.Title, .Subtitle {
    animation: slide 2s forwards;
    -webkit-animation: slide 2s forwards;
    -moz-animation: slide 2s forwards;
    -o-animation: slide 2s forwards;
}
.Content {
    width: 100%;
    padding-top: 1%;
    animation: fadeIn 3s forwards;
    -webkit-animation: fadeIn 3s forwards;
    -moz-animation: fadeIn 3s forwards;
    -o-animation: fadeIn 3s forwards;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes slide {
    0% {width: 0;}
    100% {width: 100%;}
}
@-moz-keyframes slide {
    0% {width:0;}
    100% {width: 100%;}
}
@-o-keyframes slide {
    0% {width:0;}
    100% {width: 100%;}
}
.Paragraph, .FormLabel {
    font-size: 16pt;
}
.Paragraph {
    margin: 2% 20%;
}
label.FormLabel {
    margin-top: 5px;
    margin-left: 25%;
}
.LoginDiv, .SearchDiv {
    display: flex;
    background-color: darkgrey;
    flex-direction: column;
    margin: 0% 20%;
    border: 2px solid black;
    border-radius: 15px;
}
form.Login, form#Authorize, form.DateSearch {
    display: flex;
    flex-direction: column;
    margin: 1% 20%;
}
.LoginDiv input, .SearchDiv input {
    padding: 5px;
    width: 300px;
    font-size: 18pt;
    margin: 1% 0% 1% 25%;
}
form.DateSearch select {
    width: 60%;
    margin-left: 20%;
    padding: 1%;
}
.DateDiv {
    display: flex;
    flex-direction: column;
    margin: 0% 15%;
}
.LoginDiv #submit-login, button#single-search, button#between-search {
    background-color: darkgreen;
    padding: 5px;
    margin-left: 35%;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    width: 180px;
    font-size: 20pt;
    margin-bottom: 5%;
    cursor: pointer;
}