.MyTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table {
    background-color: lightgray;
    border-spacing: 15px 10px;
}
thead {
    font-size: 16pt;
}
td {
    font-size: 14pt;
    text-align: center;
    background-color: navajowhite;
    font-family: serif;
    font-weight: bold;
    padding: 4px
}
table, td {
    border: 2px solid black;
}
