/* You can add global styles to this file, and also import other style files */
h1 {
    font-size: 50pt;
    font-weight: normal;
    text-align: center;
}
p {margin: 1% 15%; width: 70%;}
p, a {font-size: 18pt;}
header {width: 100%;}
ul {display: flex; margin-left: 5%;}
nav li {list-style-type: none; margin-right: 3%;}
a:link, a:visited {color: whitesmoke; text-decoration: none;}
body {margin: 0%; background-color: azure;}
h1, p, a:link, a:visited {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}
nav {
    background-color: black;
    margin: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}
* {
    animation: fade 2s forwards;
    -webkit-animation: fade 2s forwards;
    -moz-animation: fade 2s forwards;
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}