form .login-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 400px;
}
.login-form input {
    width: 250px;
}
label {
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
}
#submit-login {
    margin-left: 70px;
    padding: 10px;
    font-size: 16pt;
    color: whitesmoke;
}
.auth {
    display: flex;
    justify-content: center;
}
#auth-title {
    text-align: center;
}
.content .register-button {
    margin-left: 20%;
    margin-bottom: 25px;
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: orange;
}