/* Styling the notes page */
.popup-screen {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin-left: -30px;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}
.popup-content {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    color: maroon;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    width: 50%;
    height: 90%;
    position: relative;
}
.token-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
h4.return-home {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 85%;
    padding: 10px;
    background-color: maroon;
    width: 80px;
}
h4.return-home a:link, h4.return-home a:visited {
    color: whitesmoke;
    text-decoration: none;
}
#notes-table {
    margin: 30px 30px;
    border-spacing: 20px 10px;
    background-color: lightgray;
    border: 2px solid black;
}
#notes-table td {
    background-color: navajowhite;   
    width: 200px;
    overflow: auto;
    text-align: center;
    border: 2px solid black;
}

/* The action buttons */
.action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
button.modify {background-color: orange;}
button.delete {background-color: red;}
button.modify, button.delete {
    padding: 10px;
    margin: 5px 0px;
    color: whitesmoke;
    font-size: 14pt;
    font-weight: bold;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 15px;
}