form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 10px;
    width: 350px;
    background-color: lightgray;
    border: solid 2px black;
    overflow: auto;
}
.recovery-form, .change-password-form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
input {
    width: 150px;
}
.submit-code, .submit-password {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: solid 2px white;
    border-radius: 15px;
}
.hide-error-password, .hide-retype-error {
    display: none;
    color: red;
    font-size: 10pt;
}