body {margin: 0%;}
h1, p, input, label, button {font-family: 'Courier New', monospace;}
h1 {text-align: center;}
input, button, label {font-size: 16pt;}
.FormLabel {margin-top: 1%; margin-left: 15%}
.FormInput, .Invalid {margin-left: 15%; padding: 1%;}
input {width: 40%;}
.Title {
    font-size: 46pt;
    animation: slide 1s forwards;
    -moz-animation: slide 1s forwards;
    -o-animation: slide 1s forwards;
    -webkit-animation: slide 1s forwards;
}
.Invalid {
    color: red; 
    margin-bottom: -1%;
    width: 65%;
    font-size: 12pt;
}
.Paragraph {
    margin: 1% 26%;
    font-size: 18pt;
    animation: fade 2s forwards;
    -moz-animation: fade 2s forwards;
    -o-animation: fade 2s forwards;
    -webkit-animation: fade 2s forwards;
}
.Form {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 0% auto;
}
.FormDiv {
    background-color: lightgray; 
    padding: 1%; border: 2px solid black; 
    width: 45%;
    margin: 1% 25%;
}
button {
    margin: 1% 16%;
    padding: 2%;
}
button:hover {
    background-color: green;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}
@keyframes slide {
    0% {width: 0%;}
    100% {width: 100%;}
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}