h1 {
    color: maroon;
    font-family: Helvetica;
    text-align: center;
    font-size: 42pt;
}
nav li {
    list-style-type: none;
    margin-right: 4%;
    color: white;
}
nav li a:link, nav li a:visited, nav li.TableDropDown, .Option a:link, .Option a:visited {
    font-size: 20pt;
    text-decoration: none;
    color: whitesmoke;
}
ul, header {
    display: flex;
}
header {
    padding: 1%;
    flex-direction: column;
    background: linear-gradient(to right, navy, steelblue);
    width: 100%;
    margin-left: -10px;
}
/* This is for the drop down arrow */
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 2px;
    margin-bottom: 4px;
    font-size: 20pt;
    cursor: pointer;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.Option {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    background-color: navy;
    width: 8%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    position: absolute;
}
@media screen and (min-width: 1280px) and (max-width: 1500px) {
    .Option {
        margin-left: 12%;
    }
}