<!DOCTYPE html>
<html>
{% extends "usersession.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_signup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='password.css') }}">
{% endblock %}
<body>
{% block content %}
    {{ super() }}
<div class="content">
    <p class="paragraph">Change your password below:</p>
    <form id="change-password">
        <div class="change-password-form">
            <label for="old-password">Enter your Old Password</label>
            <input type="password" class="input-code" id="old-password" name="old-password" placeholder="Old Password">
        </div>
        <div class="change-password-form">
            <div id="new-password-error" class="hide-error-password">
                <ul>
                    <li>Password must be at least 8 characters long</li>
                    <li>Needs at least 1 capital letter</li>
                    <li>Needs at least 1 number</li>
                    <li>Needs a special character like (!,?,$,@,%,^,&)</li>
                </ul>
            </div>
            <label for="new-password">Enter your New Password</label>
            <input type="password" class="input-code" id="new-password" name="new-password" placeholder="New Password">
        </div>
        <div class="change-password-form">
            <div id="retype-new-error" class="hide-retype-error">Passwords do not match</div>
            <label for="new-password-retyped">Retype your New Password</label>
            <input type="password" class="input-code" id="new-password-retyped" name="new-password-retyped" placeholder="Re-enter New Password">
        </div>
        <div>
            <input type="submit" class="submit-password" value="Update Password"> 
            <!-- Update Password</button> -->
        </div>
    </form>
<script src="{{ url_for('static', filename='changePassword.js') }}"></script>
</div>
{% endblock %}
</body>
</html>