<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
<body>
{% block content %}
    {{ super() }}
<div class="content">
<h1 class="title">Welcome to my Flask Notes application!</h1>
<hr/>
    <br/>
    <h2 class="subtitle">The purpose of this application:</h2>
    <p class="paragraph">I am making this because I wanted to get better
        at making webpages using Flask. I really enjoyed my first API application
        with querying employees <span class="span-home">(I will continue to add to it)</span>
        on the web UI and then more data management on using API tools like Postman 
        and Python requests to communicate with it. Now, I decided to continue to 
        practice my skills to make a notes application where you can see the 
        notes that you have made!
    </p>
    <p class="paragraph">You will be able to add notes from the site by first
        logging in <span class="span-home">(or signing up)</span> and then going to
        the notes section, where you can add, modify or delete notes from there.
    </p>
    <p class="paragraph" id="home-paragraph2"><a class="to-login" href="{{ url_for('login') }}">Click here</a>
    to login to the notes application.</p>
    <br/>
</div>
{% endblock %}
<!-- <script src="../static/script.js"></script> -->
</body>
</html>