<!DOCTYPE html>
<html>
{% extends "usersession.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notes_styling.css') }}">
{% endblock %}
<body>
{% block content %}
    {{ super() }}
<div class="content">
<h1 class="title">Your Recent notes</h1>
<!-- Have to enter in the access token to use: -->
<!-- <div class="popup-screen">
    <div class="popup-content">
        <h4 class="return-home"><a href="{{ url_for('index') }}">Go Back</a></h4>
        <h2 class="subtitle">Enter your access token to continue</h2>
        <form class="token-form" action="#" method="POST">
            <div class="token-div">
                <label for="access-token">Your Token</label>
                <input type="text" id="access-token" name="access-token" placeholder="Access Token" required>
            </div>
        </form>
    </div>
</div> -->
<table id="notes-table">
    <thead>
    <tr>
        <th>Notes ID</th>
        <th>Date Added</th>
        <th>Name</th>
        <th>Note entry</th>
    </tr>
    </thead>
    <tbody>
        {% for note in output %}
            <tr>
            {% for value in note.values() %}
                <td>{{ value }}</td>
            {% endfor %}
            <td>
            <div class="action-buttons">
                <button class="modify">Modify</button>
                <button class="delete">Delete</button>
            </div>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
</body>
</html>