<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notes_styling.css') }}">
{% endblock %}
<body>
{% block content %}
    {{ super() }}
<div class="content">
<!-- Have to enter in the access token to use: -->
<div class="popup-screen">
    <div class="popup-content">
        <h2 class="subtitle">Enter your access token to continue</h2>
        <form class="token-form" action="#" method="POST">
            <div class="token-div">
                <label for="access-token">Your Token</label>
                <input type="text" id="access-token" name="access-token" placeholder="Access Token" required>
            </div>
        </form>
    </div>
</div>

<h1 class="title">Your Recent notes</h1>
<!-- <table id="notes-table">
<thead>
    <tr class="table-headers">
        <th>Entry ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Note</th>
    </tr>
</thead>
<tbody>

</tbody>
</table> -->

</div>
{% endblock %}
<!-- <script src="../static/script.js"></script> -->
</body>
</html>